* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial Rounded MT Bold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: palevioletred;
    color: white;
    line-height: 1.6;
    padding-bottom: 2rem;
}

header {
    background-color: rgb(193, 29, 84);
    color: white;
    padding: 2rem 0;
    margin-bottom: 2rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

header h1{
    font-size: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    letter-spacing: 1px;
}

header h3{
    color: #ffe4ec;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


/* traditional art */
.trad{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

trad h4{
    color:#ffe4ec;
}

/* digital art*/
.digital{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.digital h4{
    color: #ffe4ec;
}


.art {
    background-color: black;
    border-radius: 15px;
    padding: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.art.hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
}

.art h3 {
    color: white;
}

.art img {
    width: 500px;
    height: 500px;
    object-fit: contain;
    background-color: black;
    padding: 5px;
}



.Description {
    background: linear-gradient(to right, #f6a0ac, #e04a7c);
    border-radius: 15px;
    padding: 1.5rem;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
    margin-bottom: 2rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.Description h2 {
    color: #c32c6b;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    border-bottom: 2px solid #ffe4ec;
    padding-bottom: 0.5rem;
}

.Description h3 {
    color:#e04a7c
}